<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<script src="https://unpkg.com/jquery"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(["setCookieDomain", "*.free-droid.com"]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.free-droid.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://stats.free-droid.com/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<script>
$(document).ready( function () {
    $('#usersTable').DataTable( {
    	paging: false,
    	ordering: true
    } );
} );
</script>
<style>
th, td {
	vertical-align: middle !important;
}
.dataTables_wrapper .dataTables_filter {
	text-align:center;
	width: 100%;
}
</style>
<!-- <p>This table is meant to give an overview about which devices have what roms available. It is scraped together programmatically from the official release websites of the given distributions and my private archive. Both are used by Free-Droid.</p> -->
<div class="w3-responsive">
<table id="usersTable" class="w3-table-all">
<thead>
   <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Model</th>
      <th>Codename</th>
      <th>Free-Droid support</th>
      <th>TWRP</th>
      <th>LineageOS</th>
      <th>Resurrection Remix</th>
      <th>Omnirom</th>
      <!-- <th>AOSPExtended</th> -->
      <th>Carbonrom</th>
      <th>Archive</th>
   </tr>
</thead>
<tbody>

<!--
	The rest of the table is added programmatically.
-->

